@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}


/***  Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary);
  border: 10px solid var(--primary);
  border-radius: 3rem;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
  }

  #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.page-header {
  padding-top: 12rem;
  padding-bottom: 6rem;
  /* background: url(../../../assets/mainpage/carousel-1.jpg) top right no-repeat; */
  background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #999999;
}


/*** Global of all sections (Section Header) ***/
.section-header {
  position: relative;
  margin-bottom: 70px !important;
}

.btn {
  font-size: 15px !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-outline-primary:hover,
.btn.btn-outline-secondary:hover {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.btn-primary{
  background-color: var(--primary);
  border-color:var(--primary);
}

.btn-primary:hover{
  background-color:var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary{
  background-color:var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover{
  background-color: var(--primary);
  border-color:var(--primary);
}

.btn-light{
  color: var(--dark);
  background-color: rgba(229, 221, 240, 0.918);
  padding:12px 30px ;
}

.btn-light:hover{
  color: #FFFFFF;
  background-color: var(--secondary);
  border-color: #EF8829;
}

.slideInDown{
  color: var(--dark);
  font-family: 'Lora';
  font-weight: 700;
}


/*** About ***/
.about-img img {
  position: relative;
  z-index: 2;
}

.title{
  font-family: 'Lora';
  font-weight: bold;
}

.fa-check{
  background-color: #daffdc;
  font-size: 15px;
  color: black !important;
  border-radius: 50%;
}


.sec-box > p{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sec-box > p:hover > .fa-check{
  background-color: var(--secondary);
  color: #fff !important;
}

/* service */
.bg-icon {
  background: url(../../../assets/Features/bg3.jpg) center center repeat;
  background-size: contain;
}

.ser-btn{
  background-color: #daffdc;
  border: #daffdc;
  color: var(--dark) !important;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 15px 46px !important;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.fadeInUp:hover > .box{
  border: 3px solid var(--secondary);
  transition: all .0s ease-in-out;
}

.fadeInUp:hover > .box > .ser-btn{
  background-color: #EF8829;
  border: #EF8829;
  color: var(--light) !important;
}

/** Deal */

.bg-deal{
  background: url(../../../assets/Deal/bg3.jpg) center center no-repeat;
  background-size: cover;
}

.lg-box{
  display:flex;
  align-items: center;
}

.lg-box .sm-box{
  width: 90px;
  background-color: var(--light);
  border-radius: 7px;
  box-shadow:  -4px 4px  var(--secondary);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.lg-box .sm-box .num{
  font-size: 35px;
  font-weight: 600;
}

.lg-box .sm-box .time{
  font-size: 15px !important;
  font-weight: 500 !important;
}


/** Products  **/
.bg-product{background: url(../../../assets/products/bg1.jpg) center center no-repeat;
  background-size: cover;}


.box .top-box {
  position: relative;
  overflow: hidden;
}

.box .top-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.2); */
  opacity: 0;
  transition: opacity 0.2s linear;
}

.box:hover .top-box::before {
  opacity: 1;
  z-index: 2;
}

.box .img-product {
  max-width: 100%;
  display: block;
  transition: transform 0.2s ease-in;
}

.box .btn-icon {
  position: absolute;
  left: 5px;
  top: -45px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 40px;
  transition: top 0.2s linear;
  z-index: 3;
  border-radius: 5px;
  color: rgba(17, 16, 16, 0.815);
  background-color: #daffdc;
}

.box .btn-icon:hover {
  color:#FFFFFF;
  background-color:var(--primary);
}
.box:hover .btn-view {
  transition-delay: 0.1s;
  top: 5px;
}
.box:hover .btn-love {
  transition-delay: 0.2s;
  top: 50px;
}

.box:hover .btn-buy {
  transition-delay: 0.3s;
  top: 95px;
}
.box .btn-icon .icon {
  font-size: 18px;
}

 .bottom-box .rounded-pill:hover{
  background-color: var(--primary) !important;
  color: var(--light) !important;
 }

 /* .fadeInUp[_ngcontent-ljr-c16]:hover > .box[_ngcontent-ljr-c16] {
  border: 3px solid transparent !important;
  transition: all .0s ease-in-out;
} */
/** firm */
.bg-firm {
  background: url(../../../assets/firm/bg11.jpg) center center no-repeat;
  background-size: cover;
}

.box-firm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/*** Testimonial ***/

.testimonial{
  text-align: justify;
  line-height: 30px;
}

.bg-test{
  background: url(../../../assets/testimonal/slider1.jpg) center center no-repeat;
  background-size: cover;
}

.container {
    margin-top: 80px;
}

.container .col-lg-4 {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.card .face {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
}

.card .face.front-face,
.card .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card .face.front-face .name {
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--primary) !important;
  font-family: 'Lora';
  font-size: 18px;
}

.card .face.front-face .designation {
    font-size: 0.9rem;
    letter-spacing: 0.8px;
}

.card:hover .face.front-face {
    transform: rotateY(180deg);
    border: 2px solid var(--secondary);
}

.card .face.back-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.5rem;
    color: var(--secondary);
}

.card .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.5rem;
    color: var(--secondary);
}

.card:hover .face.back-face {
    transform: rotateY(360deg);
    border: 2px solid var(--secondary);
}

@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

/* * Email section */
.bg-Email{
  background: url(../../../assets/Email/bg2.jpg) center center no-repeat;
  background-size: cover;
}


.box-Email{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Email{
  width: 400px;
  outline: none !important;
}

.Email:focus, .Email:hover, .Email:active{
  border: none !important;
}

.email-Part{
  background-color: #FFFFFF;
  border-radius: 15px;
}

.fa-envelope{
  font-size: 18px;
}
.de-active{
  display: none;
}
@media (max-width:768px) {
  .active{
    display: none !important;
  }

  .de-active{
    display: initial;
  }
}

/* * blog section */

.bg-blog{
  background: url(../../../assets/blog/bg10.jpg) center center no-repeat;
  background-size: cover;
}

.blog-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media (max-width:1200px) {
  .blog-img{
  }
}
